img#logo{
  min-width:57px;
  width:57%;
  -webkit-filter: drop-shadow(1px 1px 3px white );
  filter: drop-shadow(1px 1px 3px white);
  position:absolute;
  top: -8px;
  left: 20px;
}
.title{
  color: blueviolet;
  font-family: cursive;
}
#block .btn-recept{
  position: fixed;
  right: 2%;
  top: 5em;
  color: #fff;
  border-color: #004910;
  background-color: rgba(0, 73, 16, 0.89);
  box-shadow: 0 0 5px rgb(255, 255, 255);
}
#btn-add-elem{
  width: 22%;
  margin-left: 78%;
  /* margin-bottom: 10px; */
  margin-bottom: 1rem!important;
}
#rec_form{
  color: black;
}
#recept{
    background-color: rgba(55, 55, 55, 0.75);
    border: 2px solid green;
    box-shadow: 0 0 38px rgba(0, 128, 0, 0.59);
    width: 70%;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 9px;
    position: relative;
}
#recept .del_recept{
  position: absolute;
  right: 1em;
  top: 1em;
  color: #fff;
  border-color: #49491010;
  background-color: rgba(96, 41, 53, 0.61);
  box-shadow: 0 0 5px rgb(255, 255, 255);
}
#recept #recept_block{
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  padding-top: 5%;
}
#block #rec_form form #title:focus{
    color: #495057;
    background-color: #fff;
    box-shadow: 0 0 5px .2rem rgba(100,200,100,.8);
}
#block #rec_form form div#add_form_table{
    width: 100%;
}
#block #rec_form form div#add_form_table .inp{
    width: 32.9%;
    display: inline-block;
    padding: .75rem 2.5rem .75rem 1rem;/* отступы от текста до рамки */
    margin: 0;
    border: 1px solid #ccc; /* рамка */
    border-radius: 3px;/* скругление полей формы */
    font-family: inherit;/* наследует от родителя */
    font-size: 1rem;
    color: #444;
}
#block #rec_form form div.add_name input.style_add:focus, #block #rec_form form div.add_name .select.inp:focus{
    color: #495057;
    background-color: #fff;
    box-shadow: 0 0 5px .2rem rgba(100,200,100,.8);
}
#block #rec_form form div.add_name input.style_add{
    text-transform: uppercase;
    width: 69%;
    padding: 0;
    padding: .75rem 2.5rem .75rem 1rem;/* отступы от текста до рамки */
    display: inline-block;
    border: 1px solid #ccc;
}
#block #rec_form form div.add_name .select.inp{
    width: 30%;
    position: relative;
    padding: 0;
    border-radius: 3px;/* скругление полей формы */
    display: inline-block;
    border: 1px solid #ccc;
}
#block #rec_form form div.add_name .select.inp select {
    display: block;
    width: 100%; /* от ширины блока div */
    padding: .75rem 2.5rem .75rem 1rem;/* отступы от текста до рамки */
    background: none; /* убираем фон */
    border: 0px; /* рамка */
    border-radius: 3px;/* скругление полей формы */
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем дефолнтные стрелочки */
    font-family: inherit;/* наследует от родителя */
    font-size: 1rem;
    color: #444;
}
#block #rec_form form div#add_form_table .select.inp{
    position: relative;
}
#block #rec_form form div#add_form_table .select.inp select {
    display: block;
    width: 100%; /* от ширины блока div */
    padding: .75rem 2.5rem .75rem 1rem;/* отступы от текста до рамки */
    background: none; /* убираем фон */
    border: 0px; /* рамка */
    border-radius: 3px;/* скругление полей формы */
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    appearance: none;/* убираем дефолнтные стрелочки */
    font-family: inherit;/* наследует от родителя */
    font-size: 1rem;
    color: #444;
}
#block #rec_form form  .style_add{
    border: 0px;
    outline: none;
    border:1px solid #ccc ;
}
#block #rec_form form  .style_add:focus{
    outline: 0;
    box-shadow: 0 0 5px .2rem rgba(100,200,100,.8);
    /* box-shadow: 0 0 5px .2rem red; */
}

#recept #recept_block form button{
    margin-top: 22px;
    margin-right: auto;
    width: 18%;
}
#recept .recept_content{
  color: #ffffff;
}
#recept #recept_block .comments_list{
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphenate-limit-chars: 6 3 2;
  overflow: scroll;
  max-width: 100%;
}
  .div {
    /* Местоположение фоновой картинки */   
    background-image: url(../Background_image.jpg);      
    /* Фоновое изображение выровнено по центру в горизонтальной и вертикальной плоскостях */   background-position: center center;      
    /* Фон не повторяется */   background-repeat: no-repeat;      
    /* Фон зафиксирован в области просмотра и потому не двигается, когда высота контента превышает высоту изображения */   background-attachment: fixed;      
    /* Это свойство заставляет фон менять масштаб при изменении размеров содержащего его контейнера*/   background-size: cover;      
    /* Цвет фона, который будет отображаться при загрузке фоновой картинки*/   background-color: #000000; 
    /*Цвет текста на странице*/   color: #fff; 
    /* cursor: url('rainbow normal select (static).cur'), auto; */
  }

  .body1{
    color: blue;
    font-family: 'Lobster', cursive;
    /* cursor: url('rainbow link select (static).cur'), auto; */
  }
  .body2{
    font-family: 'Russo One', sans-serif;
    color: blue;
    /* cursor: url('rainbow link select (static).cur'), auto; */
  }
  .text-block{
    margin-left:20px;
  }
  .img{
    object-fit: cover;
    width: 100px;
    height: 100px;
  }
  .amg{
    /* max-width: 55%; */
    min-width: 330px;
    alt: inherit;
    box-shadow: 0 0 45px rgba(238, 228, 176, 0.54);
    margin: 0 auto;
    margin-bottom: 15px; /* Отступы */
    margin-top: 40px;
    display: block; /* Блочный элемент */
    border-radius: 28px;
    width: 52%; 
    height: 40%; 
    object-fit: cover;
  }
  .glut{
    width: 50vw;
    display:block;
    margin:auto;
    /* margin: 0 auto; */
    /* text-align: center; */
  }
  .osn{
    display: block;
    max-width: 30%;
    max-height: 30%;
    border: 1px solid #333;
    alt: inherit;
  }
  .text {
    color:white;
    font-size:175%;
    width: 75%;
    margin: 0 auto;
  }
  .text_1{
    color:white;
    margin-left:50px;
    font-size:175%;
    /* margin-top: 35%; */
  }
  .content{
    width: 70%;
    margin: 0 auto;
    margin-top: 13%;
  }
  .text-test {
    margin-right:150px;
    color:black;
    margin-left:150px;
    font-size:175%;
  }
  .chas {
margin-top:100px ;
  }
  .sdek {
    border: 2px solid green;
    box-shadow:0 0 38px rgba(0, 128, 0, 0.59);
    color: white; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    line-height: 1.5;
    background-color: rgba(55, 55, 55, 0.75);
    border-radius: 22px;
  }
  .sdek_1 {
    border: 10px solid rgba(39, 255, 1, 0.637);
    box-shadow:0 0 50px rgb(0, 247, 255);
    color: rgba(255, 255, 255, 0.863); /* Цвет текста */
    text-shadow: 0 0 20px rgb(255, 255, 255);
    padding: 20px; /* Поля вокруг текста */
    line-height: 1.5;
    background: rgba(48, 162, 255, 0.685);
    border-radius: 50px;
  }
  #conteiner{
    /* width:10000px; */
    height:auto;
    margin:0px auto;
    padding-top:10px;
  }
  
#menu1{
    position:relative;
    display:block;
    width:96%;
    height:auto;
    z-index:10;
    position: fixed;
    background:rgba(0, 73, 16, 0.89);
    margin: 0 auto;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 7px;
    margin-top: 0.6%;
}
#block{
  padding-top: 4em;
  position: relative;
}
div#block div.text a{
  color: white;
  text-decoration: none;
}
div#block div.text div#rec{
  background-color: rgba(55, 55, 55, 0.75);
  border-radius: 22px;
  margin-top: 30px;
  width: 53%;
  border: 1px solid green;
}
div#block div.text div#rec div#rec_content{
  padding-top: 10px;
  border-radius: 7px;
  margin: 0 auto;;
}
div#block div.text a p#description{
  color: rgb(197, 186, 125);
  font-weight: 900;
  margin: 0;
  font-size: 85%;
  text-shadow: silver;
}
    #menu1 ul{
        position:relative;
        display:block;
        margin:0px;
        padding:10px;
        height:auto;
        list-style:none;
        text-shadow: red 0 0 10px; /* Свечение красного цвета */
        opacity: .9;
        box-shadow:0 0 20px rgb(255, 255, 255);
        border-radius: 7px;
    }
    #menu1 > ul{
        text-align:justify;
        font-size:10px;
        line-height:1px;
    }
    #menu1 > ul::after{
        display:inline-block;
        width:100%;
        height:0px;
        content:" ";
    }
        #menu1 ul li{
            position:relative;
            display:inline-block;
            width:auto;
            height:auto;
            vertical-align:top;
            text-align:left;
        }
        #menu1 ul li.razd{
            height:28px;
            width:1px;
            background:green;
            margin-top:4px;
        }
            #menu1 ul li a{
                display:block;
                padding:9px 45px 0px 45px;
                font-size:14px;
                font-family:Arial, sans-serif;
                color:#ffffef;
                text-shadow: red 0 0 10px; /* Свечение красного цвета */
                line-height:1.3em;
                text-decoration:none;
                font-weight:bold;
                text-transform:uppercase;
                height:36px;
                box-sizing:border-box;
                position: relative;
            }
            #menu1 ul li > a:hover, #menu1 ul li:hover > a{
                text-shadow: #5dc8e5 0 0 10px; /* Свечение голубого цвета */
                color: #00eeff;
                /* cursor: url('rainbow link select (static).cur'), auto; */

            }
            #menu1 ul li ul{
                position:absolute;
                top:35px;
                left:0px;
                display:none;
                width:auto;
                background:rgba(0, 73, 16, 0.89);
                opacity: .9;
                white-space:nowrap;
            }
            #menu1 > ul > li:last-child > ul{/*последний пункт будет прикреплен по правому краю*/
                left:auto;
                right:0px;
            }
            #menu1 ul li:hover > ul{display:block;}/*эта строчка реализует механизм выпадения*/
                #menu1 ul li ul li{
                    display:block;
                    width:auto;
                }
                    #menu1 ul li ul li a{
                        display:block;
                        text-transform:none;
                        height:auto;
                        padding:9px 45px;
                        width:100%;
                        box-sizing:border-box;
                        border-top:1px solid #ffffff;
                    }
                    #menu1 ul li ul li:first-child > a{border-top:0px;}
                    #menu1 ul li ul li a:hover, #menu1 ul li ul li:hover > a{
                      color:rgb(5, 217, 255);
                    }
                #menu1 ul li ul li ul{
                    top:0px;
                    left:100%;
                    display:none;
                    background:#000000;
                }
                #menu1 > ul > li:last-child > ul ul{left:auto; right:100%;}
                    #menu1 ul li ul li ul a{color:rgb(252, 252, 252);}
                    * {box-sizing: border-box;}

.shadow{
  color:rgb(0, 255, 34);
  text-shadow:10 10 10px rgb(0, 255, 0);
  text-align:center;
}
.wrapper { 
  width: 70%;
  max-width: 420px;
  /* overflow: hidden; */
  margin: 0 auto;
  margin-top: 80px;
}
@keyframes fade {
 0%{ opacity: 0; }
 10%{ opacity: 1; }
 20%{ opacity: 1; }
 30%{ opacity: 1; }
 40%{ opacity: 0; }
 50%{ opacity: 0; }
 60%{ opacity: 0; }
 70%{ opacity: 0; }
 80%{ opacity: 0; }
 90%{ opacity: 0;} 
 100% { opacity: 0; }
}	
/* .wrapper img { 
 position:absolute; 
 margin: 0 auto;
 width: 500px;
 height: 400;
 object-fit: cover;
 overflow: hidden;
 border: 10px double white;
 opacity:0; 
 animation-name: fade; 
 animation-duration: 8s; 
 animation-iteration-count: infinite; 
 box-shadow: 0 0 70px green;
 border-radius: 22px;
} */

.wrapper img { 
  width: 100%;
  border: 10px double white;
  box-shadow: 0 0 70px green;
  border-radius: 129px;
  object-fit: cover;
  margin: 0 auto ;
 }
.wrapper img:nth-child(1) { animation-delay: 0s;  }
.wrapper img:nth-child(2) { animation-delay: 2s;  }
.wrapper img:nth-child(3) { animation-delay: 4s;  }
.wrapper img:nth-child(4) { animation-delay: 6s;  }

