{% extends 'base.html' %}
{% block title %}
    Главная
{% endblock %}


{% block content %}
<h1>
    <div class="shadow">Главная
</h1>

<div class="wrapper">
    <!-- <img src="https://sun9-57.userapi.com/c857136/v857136167/14eee5/rxUdD-lqtRA.jpg">
    <img src="https://sun9-24.userapi.com/c205828/v205828167/dbe78/ecKopb7zJbg.jpg">
    <img src="https://sun9-34.userapi.com/c205816/v205816167/cee79/sqwzPtLf7s0.jpg">
    <img src="https://sun9-32.userapi.com/c857024/v857024167/e9151/pnpywGXkc8M.jpg"> -->
    <img src="{{ MEDIA_URL }}/media/main.jpg">
</div><br><br>

<div class="content">
    <p class="text_1">
    <h2 class="sdek">На этой страничке вы увидите только очень вкусные, свежие, а главное безвредные рецепты. Вообще
        изначально готовил страничку для себя, а потом подумал, а почему бы не продолжить её развитие.
        Целиакией называют врожденное заболевание, связанное с непереносимостью белка некоторых злаковых культур
        (пшеницы, ячменя, ржи), называемого глютеном.
        У больных целиакией глютен вызывает иммунную реакцию в тонком кишечнике. Со временем эта реакция приводит к
        воспалению, которое повреждает эпителий тонкого кишечника и нарушает всасывание некоторых питательных
        веществ (синдром мальабсорбции).
        Повреждение кишечника может привести к потере веса, вздутию живота, а иногда и диарее. В запущенных стадиях
        болезни мозг пациента, нервная система, кости, печень и другие органы - лишаются жизненно важных питательных
        веществ, что и определяет клиническую картину этого заболевания.</h2>
    </p>
    <p><img class="glut" src="scale_1200.png"></p>
    <p><img class="glut" src="krupy.jpg"></p>
{% endblock %}